basePath: /api/v1
definitions:
  models.Register:
    properties:
      email:
        type: string
      fullName:
        type: string
      id:
        type: integer
    type: object
  response.ResponseError:
    properties:
      error:
        example: cause of error
        type: string
      message:
        example: Error message
        type: string
      success:
        example: false
        type: boolean
    type: object
  response.ResponseSuccess:
    properties:
      data: {}
      message:
        example: Success message
        type: string
      success:
        example: true
        type: boolean
    type: object
info:
  contact: {}
  description: Dokumentasi REST API menggunakan Gin dan Swagger
  title: API Koda Shortlink Documentation
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Log in with existing email data
      parameters:
      - description: User email
        in: formData
        name: email
        required: true
        type: string
      - description: User password
        format: password
        in: formData
        name: password
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Login successful
          schema:
            allOf:
            - $ref: '#/definitions/response.ResponseSuccess'
            - properties:
                data:
                  properties:
                    token:
                      type: string
                  type: object
              type: object
        "400":
          description: Invalid request body
          schema:
            $ref: '#/definitions/response.ResponseError'
        "401":
          description: Wrong email or password
          schema:
            $ref: '#/definitions/response.ResponseError'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/response.ResponseError'
      summary: Login user
      tags:
      - auth
  /auth/logout:
    post:
      consumes:
      - application/json
      description: Invalidate refresh token
      parameters:
      - description: Refresh Token
        in: body
        name: refresh_token
        required: true
        schema:
          properties:
            refresh_token:
              type: string
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: Logout successful
          schema:
            $ref: '#/definitions/response.ResponseSuccess'
        "400":
          description: Invalid request
          schema:
            $ref: '#/definitions/response.ResponseError'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/response.ResponseError'
      summary: Logout user
      tags:
      - auth
  /auth/refresh:
    post:
      consumes:
      - application/json
      description: Get new access token using refresh token
      parameters:
      - description: Refresh Token
        in: body
        name: refresh_token
        required: true
        schema:
          properties:
            refresh_token:
              type: string
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: Token refreshed
          schema:
            allOf:
            - $ref: '#/definitions/response.ResponseSuccess'
            - properties:
                data:
                  properties:
                    access_token:
                      type: string
                    expires_in:
                      type: integer
                  type: object
              type: object
        "400":
          description: Invalid request
          schema:
            $ref: '#/definitions/response.ResponseError'
        "401":
          description: Invalid or expired refresh token
          schema:
            $ref: '#/definitions/response.ResponseError'
        "500":
          description: Internal server error
          schema:
            $ref: '#/definitions/response.ResponseError'
      summary: Refresh access token
      tags:
      - auth
  /auth/register:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: Create a new user with a unique email
      parameters:
      - description: Full name user
        in: formData
        name: fullname
        required: true
        type: string
      - description: Email user
        in: formData
        name: email
        required: true
        type: string
      - description: Password user
        format: password
        in: formData
        name: password
        required: true
        type: string
      produces:
      - application/json
      responses:
        "201":
          description: User created successfully.
          schema:
            allOf:
            - $ref: '#/definitions/response.ResponseSuccess'
            - properties:
                data:
                  $ref: '#/definitions/models.Register'
              type: object
        "400":
          description: Invalid request body or failed to hash password.
          schema:
            $ref: '#/definitions/response.ResponseError'
        "409":
          description: Email already registered.
          schema:
            $ref: '#/definitions/response.ResponseError'
        "500":
          description: Internal server error while creating user.
          schema:
            $ref: '#/definitions/response.ResponseError'
      summary: Register new user
      tags:
      - auth
swagger: "2.0"
